@import "tailwindcss";

@theme {
  --color-cream: #f8f4dd;
  --color-brand-green: #2a6a00;
  --color-dark-green: #0b210e;

  --font-sans: "Manrope Variable", sans-serif;
  --font-serif: "Playfair Display Variable", serif;
}

@utility glass-card {
  @apply bg-cream/40 backdrop-blur-sm border border-dark-green/10;
}

body {
  background-color: var(--color-cream);
  color: var(--color-dark-green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-brand-green);
}
