---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"span"> {}

const { class: className, ...attrs } = Astro.props;
---

<span
  class:list={[
    "inline-block py-1 px-3 rounded-full glass-card text-dark-green text-sm font-bold mb-6 tracking-wide",
    className,
  ]}
  {...attrs}
>
  <slot />
</span>
