---
import '@fontsource-variable/manrope';
import '@fontsource-variable/playfair-display';
import '../styles/global.css';
import { Image } from 'astro:assets';
import leaves from '../assets/leaves.svg';

// IMPORTUJEME NAVBAR
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Mladí učí o klimatu. Vzdělávací programy pro školy a veřejnost." } = Astro.props;
---

<!doctype html>
<html lang="cs" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title} | Telperion</title>
	</head>
	
	<body class="bg-cream text-dark-green font-sans antialiased">
		
		<div class="relative overflow-hidden flex flex-col min-h-screen">
			
			<!-- LÍSTKY ZŮSTÁVAJÍ -->
			<div class="absolute top-0 right-0 w-64 md:w-96 opacity-90 pointer-events-none z-0">
				<Image src={leaves} alt="" />
			</div>
			<div class="absolute bottom-0 left-0 rotate-180 w-64 md:w-96 opacity-90 pointer-events-none z-0">
				<Image src={leaves} alt="" />
			</div>

            <!-- VLOŽENÝ NAVBAR -->
            <Navbar />

			<!-- 
                Změna: Přidáno pt-24 (padding top), aby obsah nezačínal POD navbarem 
            -->
			<main class="flex-grow relative z-10 pt-24">
				<slot />
			</main>
			
		</div>
	</body>
</html>