---
import FeatureCardComponent from "../../components/FeatureCard.astro";
import Layout from "../../layouts/Layout.astro";

if (import.meta.env.PROD) {
  return Astro.redirect("/", 302);
}
---

<Layout title="Test FeatureCard" noindex={true}>
  <div class="p-8 grid gap-8">
    <FeatureCardComponent
      icon="mdi:account-group-outline"
      title="Test Title 1"
      data-testid="feature-card-1"
    >
      This is the first test description.
    </FeatureCardComponent>

    <FeatureCardComponent
      icon="mdi:earth"
      title="Test Title 2"
      data-testid="feature-card-2"
    >
      This is the second test description with different content.
    </FeatureCardComponent>
  </div>
</Layout>
